<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Plantilla de thymeleaf-->
<head>
    <meta charset="UTF-8">
    <title th:text="${titulo}">Title</title>
</head>
<body>
<h1 th:text="${titulo}"></h1>
<ul>
    <li><a th:href="@{/variables/string/ Hola Andrés}">/variables/strintg/Hola Andrés</a></li> <!-- Busca la ruta del controlador y sus metodos con la variables segun la ruta. -->
    <li><a th:href="@{/variables/string/Que tal Jhon/8}">/variables/strintg/Que tal Jhon/8</a></li> <!-- Busca la ruta del controlador y sus metodos con la variables segun la ruta. -->
    <li><a th:href="@{/variables/string/Hi Jane/9}">/variables/strintg/Hi Jane/9</a></li> <!-- Busca la ruta del controlador y sus metodos con la variables segun la ruta. -->
</ul>

</body>
</html>