<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"> <!-- Motor de plantiyas thimeleaf-->
<head>
    <meta charset="UTF-8"/>
    <title th:text="${titulo}"></title>
</head>
<body>

<h1 th:text="${titulo}"></h1>
<div th:if="${usuarios.isEmpty()}">no hay usuarios en la lista!</div> <!-- Metodo isEmpty de tymeleaf para saber si la lista esta vacia retorna un boolean -->
<table th:if="${not usuarios.isEmpty()}"> <!-- La negacion de tymeleaf retorna un boolean -->
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tr th:each="usuario: ${usuarios}">
        <td th:text="${usuario.nombre}"></td> <!-- Por debajo hace el llamado al metodo getNombre() de la clase Usuario -->
        <td th:text="${usuario.apellido}"></td> <!-- Por debajo hace el llamado al metodo getApellido() de la clase Usuario -->
        <td th:text="${usuario.email}"></td> <!-- Por debajo hace el llamado al metodo getEmail() de la clase Usuario -->
    </tr>
    <tbody>

    </tbody>
</table>

</body>
</html>